<!DOCTYPE html>
<html>
    <head>
        <meta charset="ut-8">
        <title>es6环境搭建</title>
    </head>
    <body>
        test
        <script src="../js/index.js" charset="utf-8"></script>
    </body>
</html>